.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    justify-items: start;
    align-items: start;
}

.contenedor .item {
    background: #ff8000;
    justify-self: stretch;
    align-self: stretch
}